
<div class="loader-container" *ngIf="loaderservice.isloading | async" >
  <mat-spinner style="top:50%; left : 50%"></mat-spinner>
</div>
<div *ngIf="authservice.isLoggedIn()">
  <app-header></app-header>
</div>
<router-outlet></router-outlet>
