body{
  background-color: rgb(116, 75, 25);
}
.loader{
  justify-content: center;
  margin-top: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}

.loader-container{
  position :fixed;
  height: 80%;
  width: 80%;
  opacity: 0.8;
  z-index: 1;
  /* background-color: rgb(250, 246, 246); */

}
