<div class="container w-50 h-50  ">
  <mat-card class=" text-light sign" style="background-color:#ceb0ff ;">
    <mat-card-title class="text-center text-dark mt-3"
      style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 30px;">Login Here !
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" class="mt-5 text-center">
        <p>
          <mat-form-field class=" inputs">
            <input type="text" matInput placeholder="MobileNumber" formControlName="mobileno" appNumber>
            <mat-error *ngIf="form.get('mobileno')?.hasError('required')">This Field Required</mat-error>
            <mat-error *ngIf="form.get('mobileno')?.hasError('pattern')">Please Enter valid Mobile Number</mat-error>

          </mat-form-field>
        </p>

        <p>
          <mat-form-field class=" inputs">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="form.get('password')?.hasError('required')">This Field Required</mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minlength')">Password must 8 characters long</mat-error>
          </mat-form-field>
        </p>
        <div class="button">
          <button mat-raised-button color="accent" [disabled]="isLoading" class=" mt-3" (click)="Save()">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
