<h2 mat-dialog-title>Add Task</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="addTask" style="margin-top:10px;">
    <mat-form-field class="example-full-width">
      <input appOnlyalphabet class="kt-pointer example-form" matInput placeholder="Title" formControlName="Title" />
      <mat-error *ngIf="addTask.get('Title')?.hasError('required')">Title is required</mat-error>
      <mat-error *ngIf="addTask.get('Title')?.hasError('pattern')">Alphabets only</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea class="kt-pointer example-form" matInput formControlName="Description"
        placeholder="Description"></textarea>
      <mat-error>Description is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input class="kt-pointer example-form" matInput placeholder="Attach File*" [value]="displayFileName"
        (click)="openFile()" readonly />
      <input formControlName="Image" hidden />
      <input #imageFileInput id="imageFileInput" type="file" (change)="handleFileSelect($event.target)" hidden>
      <!-- <div class="kt-remove-input-value" (click)="removeFile()" *ngIf="displayFileName">Remove
                  </div> -->
    </mat-form-field>
    <!-- <div class="customized-error" *ngIf="getvalidity()">This Field is required</div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-6"> -->
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Lead/Customer Name" formControlName="LeadId">
        <mat-form-field class="example-full-width w-95 kt-margin-t-10 m-auto">
          <input matInput placeholder="Search" #searchlead (keyup)="searchManager(searchlead.value)"
            placeholder="Search" autocomplete="off">
        </mat-form-field>
        <mat-option *ngFor="let lead of leadFilter" [value]="lead.Id">
          {{lead.LeadName}}
        </mat-option>
      </mat-select>
      <mat-error align="start">Please select customer name</mat-error>
    </mat-form-field>
    <!-- </div> -->
    <!-- <div class="col-lg-6"> -->
    <!-- <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="datepicker" placeholder="Select Due Date" [min]="current"
        formControlName="TaskEndDateDisplay" (click)="datepicker.open()" readonly>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker [startAt]="tomorrow"></mat-datepicker>
      <input matInput formControlName="TaskEndDate" hidden />
      <mat-error align="start">Please enterDue Date</mat-error>
    </mat-form-field> -->

    <mat-form-field class="mat-form-field-fluid w-100">
       <input matInput [matDatepicker]="picker" placeholder="Select Due Date" [min]="current"
            formControlName="TaskEndDateDisplay" (click)="picker.open()" readonly />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="checkError('TaskEndDateDisplay', 'required')">Due Date is
        required</mat-error>
      </mat-form-field>

    <!-- </div> -->
    <!-- <div class="col-lg-12"> -->
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Select Priority" class="kt-pointer example-form" formControlName="Priority">
        <mat-option value="High">High Priority</mat-option>
        <mat-option value="Low">Low Priority</mat-option>
      </mat-select>
      <mat-error>Priority required</mat-error>
    </mat-form-field>
    <!-- </div> -->
    <!-- <mat-form-field class="example-full-width">
          <mat-select placeholder="Select Priority" class="kt-pointer example-form" formControlName="Priority">
            <mat-option value="High">High Priority</mat-option>
            <mat-option value="Low">Low Priority</mat-option>
          </mat-select>
          <mat-error>Priority required</mat-error>
        </mat-form-field> -->

    <!-- <div class="col-lg-12"> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Add Users" class="kt-pointer example-form" formControlName="UserDisplayIds"
        (click)="openMembers('UserIds')" />
      <input matInput formControlName="UserIds" hidden />
      <mat-error>Users is required </mat-error>
    </mat-form-field>

    <!-- </div> -->

    <!-- <div class="col-lg-12"> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Add CC Members" class="kt-pointer example-form" formControlName="TaskDisplayOwners"
        readonly (click)="openMembers('TaskOwners')" />
      <input matInput formControlName="TaskOwners" hidden />
      <mat-error>Field required</mat-error>
    </mat-form-field>
    <!-- </div> -->
    <!-- </div> -->
    <mat-divider></mat-divider>
    <!-- <div style="float:right; margin-top: 10px;"> -->
    <!-- <button mat-raised-button (click)="closedialog()">Cancel</button>&nbsp;
          <button mat-raised-button color="primary" [disabled]="isLoading" (click)="Save()">Save
            <span *ngIf="isLoading">
              <mat-spinner color="primary" diameter="20" style="display:inline-block"></mat-spinner>
            </span>
          </button> -->

    <!-- </div> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary" (click)="closedialog()">Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial [disabled]="isLoading" (click)="Save()">Add
    <span *ngIf="isLoading">
      <mat-spinner color="primary" diameter="20" style="display:inline-block"></mat-spinner>
    </span>
  </button>

</mat-dialog-actions>
