.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.kt-pointer {
  cursor: pointer;
}

.kt-remove-input-value {
  position: relative;
  float: right;
  margin-top: -40px;
  color: red;
  cursor: pointer;
}

.customized-error{
  color: #f44336;
  font-size: 10px;
  margin-top: -17px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
