<div >
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="javascript:void(0)">Logo</a> -->
      <!-- <img src="../../assets/img/images-removebg-preview.png" class="img" alt=""> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <!-- <span class="navbar text-light"><b>NIMAP</b></span> -->

      <div class="collapse navbar-collapse" id="mynavbar">
        <!-- <ul class="navbar-nav me-auto p-2">
          <li class="nav-item">
            <a class="nav-link btn btn-warning text-dark ms-3" (click)="mytask()"><b>MyTask</b></a>
         </li>
        </ul> -->
        <form class="d-flex">
          <button class="btn btn-danger me-5" type="button" (click)="logout()" ><b>LogOut</b></button>
        </form>
      </div>
    </div>
  </nav>
  <!-- <router-outlet></router-outlet> -->
</div>
