/* .example-container {
  height: 500px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
::ng-deep.mat-drawer-inner-container {
  width: 201px !important;
} */
.delete{
  width: 20px;
}
