<!-- <app-header></app-header> -->
<mat-form-field class="mt-3 ms-5">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>
  <button class="float-end mt-3 me-5" color="accent" mat-raised-button (click)="addTask()">Add Task</button>


  <div class=" container mat-elevation-z8">
    <mat-table mat-table [dataSource]="data" matSort>

      <ng-container matColumnDef="Title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="CustomerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.LeadName}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="AssignedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> AssignedBy </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.AssignedByUserName}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="AssignedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> AssignedDate </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.CreateDate | date : 'dd MMM yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DueDate">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.TaskEndDate | date : 'dd MMM yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Priority">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Priority}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell  *matCellDef="let row" [ngStyle]="{'color': (row.TaskStatus == 100) ? 'green' : (row.TaskStatus == -1) ? 'red' : (row.TaskStatus == 0) ? 'orange' :(row.TaskStatus > 0 && row.TaskStatus < 100) ? 'blue': ''}">
          <!-- <div >{{row.TaskStatus}}</div> -->
         <div *ngIf="row.TaskStatus == -1">Not Accepted</div>
           <div *ngIf="row.TaskStatus > 0 && row.TaskStatus < 100">Partial Complete
            ({{row.TaskStatus}}%)</div>
          <div *ngIf="row.TaskStatus == 100">Completed</div>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
        <img class="delete" (click)="deleteTask(row.TaskId)" src="../../../assets/TaskDelete.svg" >
       </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [showFirstLastButtons]="true"></mat-paginator>
  </div>
