<h2 mat-dialog-title>Add Member</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div class="form-group row">
        <div class="col-lg-12">
            <div>
                <mat-form-field class="example-full-width">
                    <input class="kt-pointer example-form" matInput #searchInput
                        (keyup)="searchMember(searchInput.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="col-lg-12 text-center" *ngIf="noRecords">
                <h6>No Records Found</h6>
            </div>
            <div class="d-flex justify-content-center m-3" *ngIf="viewLoading">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div class="col-lg-12">
                <label style="cursor: pointer; width: 100%; margin-bottom: 20px; display: flex;
                    justify-content: space-between;" *ngFor="let member of memberList">
                    <span>{{member.Name}}</span>
                    <span class="float-right">
                        <mat-checkbox [value]="member.UserId"
                            (change)="checkedMember($event, member.UserId, member.Name)" [checked]="member.isChecked">
                        </mat-checkbox>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  (click)="onNoClick()" mat-button mat-dialog-close>Cancel</button>
  <button  (click)="onSubmit()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Done
    <span *ngIf="disablebutton">
      <mat-spinner color="primary" diameter="20" style="display:inline-block"></mat-spinner>
  </span>
  </button>
</mat-dialog-actions>
